body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: lightblue;
  }
  
  .container {
    background-color: transparent;
    text-align: center;
  }
  
  .biodata {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  